body {
    background-color: white;
    background: url("resources/bg-pinkdust.png");
    margin: 0;
    padding: 0;
    font: 16px/normal arial, sans-serif;
    color: rgb(35,35,35);
}

#container {
    width:70%;
    margin: auto;
    padding: 0;
    background-color: rgb(250,250,250);
    /* border-left: 7px solid rgb(61, 41, 14);
    border-right: 7px solid rgb(61, 41, 14); */
}

.header {
    padding: 3%;
}

.header h1 {
    font: normal normal bolder 55px/normal arial, sans-serif;
}

.header ul li {
    margin: 2% 1% 0;
    list-style-type: none;
    display: inline-block;
}

.header ul li a {
    text-decoration: none;
    color: darkgray;
    font: normal normal lighter 24px/normal arial;
}

.header ul li a:hover {
    color: dodgerblue;
}

.gambar {
    background-image: url("resources/city-1.jpg");
    height: 25vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -250px;
    /* border-top: 10px solid rgb(15,51,12);
    border-bottom: 10px solid rgb(15,51,12); */
}

.content {
    padding: 3%;
}

.content h1 {
    font: normal normal bold 35px/normal arial, sans-serif;
}

.content .penulis {
    font: normal normal normal 17px/normal arial, sans-serif;
    color: gray;
    padding: 5px 0;
}

.content .penulis a {
    text-decoration: none;
}

.content .artikel {
        padding: 1.5% 0.5%;
        box-sizing: border-box;
}

.content .artikel p {
    font: normal normal normal 18px/normal arial, sans-serif;
    margin-bottom: 1em;
}

.footer {
    background-color: lightgray;
    color: gray;
    text-align: center;
    padding: 5px;
    font-size: 16px;
    font: 17px arial;
}

.main {
    width: 57%;
    float: left;
}

.sidebar {
    float: right;
    width: 37%;
}

.sidebar h3 {
    font: bold 1.7em arial;
    padding: 1.5%;
}

.sidebar img {
    width: 40%;
    float: left;
    margin: 20px 20px 20px 0;
}

.content .sidebar p {
    font: normal normal normal 17px/normal arial, sans-serif;
}